{% extends 'index.html' %}
{% block content%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gotitas Del S4ber</title>
  </head>
  <body>
    {% include "head/header.html" %}
    <h1>Gotitas Del S4ber</h1>
    <p>Centro estudiantil</p>
    <h2>Hi Student!</h2>
    <div>
      <div>
        <label><b>Name: </b></label> {{ alumn.name }}
      </div>
      <div>
        <label><b>Surmane: </b></label> {{ alumn.surmane }}
      </div>
      <div>
        <label><b>Age: </b></label> {{ alumn.age }}
      </div>
    </div>
  </body>
</html>
{% endblock %}